.header {
  border-bottom: 3px solid #f5a832;
  background: rgb(252, 176, 69);
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 0.6867121848739496) 0%,
    rgba(253, 198, 29, 0.28335084033613445) 50%,
    rgba(252, 176, 69, 0.6418942577030813) 100%
  );
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
}

.input {
  width: 250px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #191815;
  text-shadow: #fc0 1px 0 10px;
  text-align: center;
  box-shadow: rgb(142, 14, 61) 0px 20px 30px -10px;
  &:focus {
    outline: 2px solid rgb(173, 213, 12);
  }
}

.btn {
  padding: 10px 20px;
  border: transparent;
  border-radius: 24px;
  color: #191815;
  text-shadow: #fc0 1px 0 10px;
  box-shadow: rgb(142, 14, 61) 0px 20px 30px -10px;
  transition: all 0.3s ease;
  background: rgb(242, 145, 25);
  background: linear-gradient(
    90deg,
    rgba(242, 145, 25, 0.9836309523809523) 0%,
    rgba(245, 95, 79, 0.8127626050420168) 50%,
    rgba(242, 145, 25, 1) 100%
  );
  &:hover {
    color: #ddf506;
    background: rgb(232, 180, 117);
    background: linear-gradient(
      90deg,
      rgba(247, 193, 128, 0.984) 0%,
      rgba(232, 179, 118, 0.813) 50%,
      rgb(239, 187, 123) 100%
    );
  }
}
