.btn {
  display: block;
  margin: 12px auto;
  padding: 10px 20px;
  border: 1px solid #e8fd2f;
  border-radius: 24px;
  color: #191815;
  text-shadow: #fc0 1px 0 10px;
  transition: all 0.3s ease;
  &:hover {
    color: #ecf0c5;
    border: 1px solid #eef6a5;
    background: rgb(229, 236, 115);
    background: linear-gradient(
      0deg,
      rgba(229, 236, 115, 0.6979166666666667) 0%,
      rgba(253, 187, 45, 0.7091211484593838) 100%
    );
  }
}
