.btn {
  display: block;
  margin: 12px auto;
  padding: 10px 20px;
  border: transparent;
  border-radius: 24px;
  color: #191815;
  text-shadow: #fc0 1px 0 10px;
  box-shadow: rgb(142, 14, 61) 0px 20px 30px -10px;
  transition: all 0.3s ease;
  background: rgb(242, 145, 25);
  background: linear-gradient(
    90deg,
    rgba(242, 145, 25, 0.9836309523809523) 0%,
    rgba(245, 95, 79, 0.8127626050420168) 50%,
    rgba(242, 145, 25, 1) 100%
  );
  &:hover {
    color: #ecf0c5;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
}
